html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
li,
p,
b {
  text-align: justify;
}
.marquee {
  height: 30px;
  overflow: hidden;
  position: relative;
  background: #fefefe;
  color: #333;
  border: 1px solid #4a4a4a;
}
.marquee p {
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
  line-height: 30px;
  font-style: italic;
  text-align: center;
  -moz-transform: translateX(100%);
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
  -moz-animation: scroll-left 2s linear infinite;
  -webkit-animation: scroll-left 2s linear infinite;
  animation: scroll-left 20s linear infinite;
}
@-moz-keyframes scroll-left {
  0% {
    -moz-transform: translateX(100%);
  }
  100% {
    -moz-transform: translateX(-100%);
  }
}
@-webkit-keyframes scroll-left {
  0% {
    -webkit-transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(-100%);
  }
}
@keyframes scroll-left {
  0% {
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
}
.fa.fa-bars {
  color: #fff;
  font-size: x-large;
}
.fa-motorcycle:before {
  content: "\f21c";
}
.fa-check-square-o:before {
  content: "\f046";
}
:root {
  --primary-bg-color: #0c2f7d;
}
@font-face {
  font-family: Helveti;
  font-weight: 400;
  src: url(./font/helveticaneuelight.ttf);
}
@font-face {
  font-family: Glyphicons Halflings;
  src: url(../font/glyphicons-halflings-regular.ttf);
}
@font-face {
  font-family: Glyphicons Halflings;
  src: url(../font/glyphicons-halflings-regular.ttf);
}
@font-face {
  font-family: Glyphicons Halflings;
  src: url(./font/glyphicons-halflings-regular.woff);
}
@font-face {
  font-family: Glyphicons Halflings;
  src: url(./font/glyphicons-halflings-regular.woff2);
}
@font-face {
  font-family: Glyphicons Halflings;
  src: url(../font/glyphicons-halflings-regular.woff);
}
@font-face {
  font-family: Glyphicons Halflings;
  src: url(../font/glyphicons-halflings-regular.woff2);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-size: 20px;
  line-height: 2;
  color: #333;
  font-family: Helveti fantasy;
}
.container {
  width: 1160px;
  margin: 0 auto;
}
::selection {
  background-color: var(--primary-bg-color);
  color: #fff;
}
::-webkit-scrollbar {
  width: 10px;
}
a:focus,
a:hover {
  color: red;
  text-decoration: none;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
.row-divide {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.row-flex-start {
  justify-content: flex-start;
}
::-webkit-scrollbar-thumb {
  background: var(--primary-bg-color);
}
::-webkit-scrollbar-thumb:hover {
  background: var(--primary-bg-color);
}
img {
  width: 100%;
  height: auto;
}
.clear {
  clear: both;
}
.btn {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  cursor: pointer;
  background: transparent;
  transform: translateY(0px);
  outline-color: transparent;
  transition: all 0.5s;
}
.btn:hover {
  color: red;
  transform: translateY(-3px);
}
#tongquan.infor__happy-one {
  background-color: #0b172f;
  color: #fff;
}
.infor__list--items {
  line-height: 4rem;
  text-align: left;
}
.infor__list--items .title--item {
  text-decoration: underline;
}
.hoc_bg {
  background: var(--primary-bg-color);
  padding: 5px;
  color: white;
}
.logo {
  width: 100px;
}
.icon .mb-block {
  display: none;
}
.border--50 {
  border-radius: 50%;
}
.text--primary {
  color: var(--secondary-bg-color);
}
.text--center {
  text-align: center;
}
.text--right {
  text-align: right;
}
.d--flex {
  display: flex;
  align-items: center;
}
.d--none {
  display: none;
}
.py-10 {
  padding: 1rem 0;
}
.my-10 {
  margin: 1rem 0;
}
.my-15 {
  margin: 1.5rem 0;
}
.main--background {
  background: linear-gradient(200deg, #f58f8f 0%, #f70000 100%) !important;
}
.ping {
  -webkit-animation: ping 0.8s ease-in-out infinite both;
  animation: ping 0.8s ease-in-out infinite both;
}
@-webkit-keyframes ping {
  0% {
    -webkit-transform: scale(0.2);
    transform: scale(0.2);
    opacity: 0.8;
  }
  80% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(2.2);
    transform: scale(2.2);
    opacity: 0;
  }
}
@keyframes ping {
  0% {
    -webkit-transform: scale(0.2);
    transform: scale(0.2);
    opacity: 0.8;
  }
  80% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(2.2);
    transform: scale(2.2);
    opacity: 0;
  }
}
.slide-in-left {
  -webkit-animation: slide-in-left 0.65s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: slide-in-left 0.65s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
@-webkit-keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
.roll-in-top {
  -webkit-animation: roll-in-top 0.3s ease-out both;
  animation: roll-in-top 0.3s ease-out both;
}
@-webkit-keyframes roll-in-top {
  0% {
    -webkit-transform: translateY(-800px) rotate(-540deg);
    transform: translateY(-800px) rotate(-540deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) rotate(0deg);
    transform: translateY(0) rotate(0deg);
    opacity: 1;
  }
}
@keyframes roll-in-top {
  0% {
    -webkit-transform: translateY(-800px) rotate(-540deg);
    transform: translateY(-800px) rotate(-540deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) rotate(0deg);
    transform: translateY(0) rotate(0deg);
    opacity: 1;
  }
}
.slide-in-fwd-top {
  -webkit-animation: slide-in-fwd-top 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: slide-in-fwd-top 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
@-webkit-keyframes slide-in-fwd-top {
  0% {
    -webkit-transform: translateZ(-1400px) translateY(-800px);
    transform: translateZ(-1400px) translateY(-800px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0) translateY(0);
    transform: translateZ(0) translateY(0);
    opacity: 1;
  }
}
@keyframes slide-in-fwd-top {
  0% {
    -webkit-transform: translateZ(-1400px) translateY(-800px);
    transform: translateZ(-1400px) translateY(-800px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0) translateY(0);
    transform: translateZ(0) translateY(0);
    opacity: 1;
  }
}
.tilt-in-bottom-2 {
  -webkit-animation: tilt-in-bottom-2 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: tilt-in-bottom-2 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
@-webkit-keyframes tilt-in-bottom-2 {
  0% {
    -webkit-transform: rotateY(-30deg) translateY(300px) skewY(30deg);
    transform: rotateY(-30deg) translateY(300px) skewY(30deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateY(0deg) translateY(0) skewY(0deg);
    transform: rotateY(0deg) translateY(0) skewY(0deg);
    opacity: 1;
  }
}
@keyframes tilt-in-bottom-2 {
  0% {
    -webkit-transform: rotateY(-30deg) translateY(300px) skewY(30deg);
    transform: rotateY(-30deg) translateY(300px) skewY(30deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateY(0deg) translateY(0) skewY(0deg);
    transform: rotateY(0deg) translateY(0) skewY(0deg);
    opacity: 1;
  }
}
.slide-bottom {
  -webkit-animation: slide-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
@-webkit-keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(39px);
    transform: translateY(39px);
  }
}
@keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(39px);
    transform: translateY(39px);
  }
}
.heartbeat {
  -webkit-animation: heartbeat 1.5s ease-in-out infinite both;
  animation: heartbeat 1.5s ease-in-out infinite both;
}
@-webkit-keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
    transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
    transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}
@keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
    transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
    transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}

.box-image {
  transition: opacity 0.3s, transform 0.3s, background-color 0.3s;
  border-radius: 3%;
  position: relative;
  height: auto;
  margin: 0 auto;
  overflow: hidden;
  -webkit-mask-image: url(../images/data.png);
}
.box-image::before,
.image-cover::before {
  position: absolute;
  top: 0;
  left: -75%;
  z-index: 2;
  display: block;
  content: "";
  width: 50%;
  height: 100%;
  background: -webkit-linear-gradient(
    left,
    rgba(255, 255, 255, 0) 0,
    rgba(255, 255, 255, 0.3) 100%
  );
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0) 0,
    rgba(255, 255, 255, 0.3) 100%
  );
  -webkit-transform: skewX(-25deg);
  transform: skewX(-25deg);
}
.image-cover {
  position: relative;
  height: auto;
  overflow: hidden;
  padding-top: 100%;
  background-position: 50% 50%;
  background-size: cover;
}
.image-cover {
  right: 0;
  width: 100%;
  height: 100%;
  bottom: 0;
  left: 0;
  top: 0;
  position: absolute;
  object-position: 50% 50%;
  object-fit: cover;
  font-family: "object-fit: cover;";
}
.header .header__contain .header__item ul > li > ul {
  display: none;
  list-style: none;
  position: absolute;
  z-index: 100;
  background: var(--primary-bg-color);
  width: max-content;
  top: 0;
  left: -6px;
  padding: 8px 0;
  padding-left: 10px;
}
.icon.mb-block,
.header .icon {
  display: none;
}
.header .header__contain .header__item ul > li > ul > li {
  padding: 8px;
  display: block;
}
.header .header__contain .header__item ul > li:hover ul {
  display: block;
}
.header .header__contain .header__item ul > li a,
.header .header__contain .header__item ul > li a i {
  text-transform: uppercase;
  font-size: 17px;
  font-weight: 400;
  transition: all 0.3s ease-in-out;
}
.header .header__contain .header__item ul > li.active a,
.header .header__contain .header__item ul > li > a:hover {
  color: red;
}
/* .main{margin:10rem 0 5rem} */
#btn--Menu {
  background-image: url(../images/menu-mobile.png);
  font-family: SanFranciscoDisplay;
  border: none;
  width: 24px;
  height: 24px;
  background-size: cover;
}
#menu {
  display: none;
  align-items: flex-end;
  flex-direction: column;
  flex-wrap: wrap;
}
#menu li {
  padding: 5px 10px;
}
#myCarousel {
  cursor: pointer;
}
.hpo__contact {
  position: fixed;
  right: 2rem;
  bottom: 4rem;
  z-index: 100;
}
.overview .overview__btn {
  position: relative;
}
.anime {
  position: absolute;
  padding: 0.8rem 2rem !important;
  width: 200px;
  top: 0;
  left: 0;
}
.title--section {
  font-size: 30px;
  font-weight: 600;
  margin-top: 30px;
  margin-bottom: 5px;
  color: red;
}
.title--underline {
  background: center;
  padding: 2rem;
  background-image: url(../images/gach-chan-web.png);
  background-repeat: no-repeat;
}
.title--item {
  font-weight: 600;
  margin: 3px 0;
  color: var(--primary-title-color);
}
.progress-container {
  width: 100%;
  height: 4px;
  background: #ccc;
}
.progress-bar {
  height: 4px;
  background: #0c2f7d;
  width: 0;
}
.icon .mb-block {
  display: none;
}
.video__hpo img {
  cursor: pointer;
  max-width: 700px;
  height: auto;
}
.Form__modal {
  display: none;
  position: fixed;
  z-index: 1000000;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #000;
  background-color: rgba(0, 0, 0, 0.4);
}
#oppos #myModal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 999999;
  display: none;
  font-size: 18px;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
  outline: 0;
  left: 0;
}
#oppos #myModal .modal-dialog.modal-dialog-centered {
  padding-top: 0;
  height: 100%;
  width: 100%;
  display: flex;
  text-align: center;
  align-items: center;
  margin-top: 0;
  margin: 0;
}
#oppos #myModal .modal-content {
  max-width: 100% !important;
  margin: 0 auto;
}
.modal-open {
  overflow: visible;
}
.top-header-icon {
  width: 130px;
}
.fb_iframe_widget {
  margin-left: 2.5px;
  margin-right: 2.5px;
}
#oppos .modal-content {
  height: auto;
  background: #06589f url(../images/popup_bg.png) repeat-x top left;
  border: 2px solid #189b9c;
  border-radius: 10px;
}
#oppos .modal-content .modal-body {
  height: auto;
  padding: 15px 35px;
}
#oppos .modal-content h3.title_dlk {
  margin-top: 24px;
  font-weight: 500;
  color: #fff;
}
#oppos .modal-content .left_contact_form input {
  border: 1px solid #8cc2f4;
  background: #6495b7;
  padding: 0 10px;
  margin-bottom: 20px;
  width: 100%;
  color: #fff;
  border-radius: 30px;
}
#oppos .modal-content .left_contact_form input::placeholder {
  color: #fff !important;
}
#oppos .modal-content .left_contact_form {
  float: left;
  width: 100%;
  text-align: center;
}
#oppos .modal-content .right_contact_form input {
  border: 1px solid #80b0d0;
  background: #6696b7;
  padding: 10px;
  margin-bottom: 20px;
  width: 100%;
  color: #fff;
}
#oppos .modal-content .submit_line input {
  background: #f6963e url(../images/button_tu_van_pop_up.png) top left repeat-y;
  border: 1px solid #fde672;
  padding: 0 10px;
  color: #fff;
  text-transform: uppercase;
  border-radius: 30px;
}
#oppos .modal-content .submit_line {
  margin-bottom: 30px;
  text-align: center;
}
#oppos .modal-content .modal-body .close span {
  color: #fff;
}
#oppos .modal-content .modal-body .close {
  position: absolute;
  right: 1rem;
  top: 5px;
  opacity: 0.7;
  font-size: 30px;
}
#oppos #myModal .modal-dialog .modal-content {
  width: 376px;
}
#oppos #myModal .modal-dialog .modal-content .tuvantructiep {
  padding-top: 130px;
  color: #fff;
  text-align: left;
}
#oppos #myModal .modal-dialog .modal-content .tuvantructiep span a {
  color: #fff;
}
#oppos #myModal .register__happy-one {
  text-align: center;
  margin: 5px 0 0 0;
  color: #edb537;
}
.text-color-validate {
  color: #fab34e;
}
.Form__modal .modal-content {
  margin: 0 auto;
}
.closeBtn {
  opacity: 1;
  color: #ffff;
  font-size: 17px;
  font-weight: 500;
  background: #0060a1;
  padding: 8px 15px;
}
.padding_model_content {
  padding: 20px;
}
#modalImg,
#modalImg1 {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}
#modalImg:hover,
#modalImg1:hover {
  opacity: 0.7;
}
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #000;
  background-color: rgba(0, 0, 0, 0.9);
}
.modal-content {
  margin: auto;
  display: block;
  max-width: 700px;
}
#caption,
#caption1 {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}
.modal-content,
#caption,
#caption1 {
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}
@-webkit-keyframes zoom {
  from {
    -webkit-transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
  }
}
@keyframes zoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
.close,
.close1 {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: 700;
  transition: 0.3s;
}
.close:hover,
.close:focus,
.close1:hover,
.close1:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}
.btn__register {
  width: max-content;
  margin: 30px auto;
}
.footer__main .btn__register a,
#contact-form__btn {
  font-size: 20px;
  color: #fff;
  background: linear-gradient(
    200deg,
    rgba(227, 196, 127, 1) 0%,
    rgba(147, 109, 48, 1) 100%
  );
  font-weight: 400;
  padding: 11px 15px;
}
.footer__main .btn__register a:hover,
#contact-form__btn:hover {
  text-decoration: none;
  opacity: 0.8;
  background: #5e5e5e;
  margin-top: 15px;
}
.copy--right-name {
  text-align: right;
}
.container_site {
  max-width: 98%;
  margin: 0 auto;
}
#datlichhen {
  background: #cd1919;
}
#boxchat__img-icon,
.btn__chat_online img {
  max-width: 20%;
}
.boxchat {
  z-index: 99999;
  position: fixed;
  bottom: 0;
  display: flex;
  width: 100%;
  display: none;
  background: #fff;
}
.boxchat a {
  color: #fff;
}
.boxchat_colum {
  margin: 5px 0;
  background: #0060a1;
  text-align: center;
  padding: 5px 0;
}
.text-threebtn {
  margin-top: 5px;
}
.talked_number {
  color: #fff;
  font-weight: 700;
  background: #cd1919;
  padding: 3px 10px;
  border-radius: 100%;
  top: -20px;
  right: 125px;
  position: absolute;
  box-shadow: 0 0 6px 0 #000;
  display: none;
  font-size: 15px;
  line-height: 23px;
}
.talked_number {
  -webkit-animation: shake-bottom 0.8s cubic-bezier(0.455, 0.03, 0.515, 0.955)
    infinite both;
  animation: shake-bottom 0.8s cubic-bezier(0.455, 0.03, 0.515, 0.955) infinite
    both;
}
@-webkit-keyframes shake-bottom {
  0%,
  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
  }
  10% {
    -webkit-transform: rotate(2deg);
    transform: rotate(2deg);
  }
  20%,
  40%,
  60% {
    -webkit-transform: rotate(-4deg);
    transform: rotate(-4deg);
  }
  30%,
  50%,
  70% {
    -webkit-transform: rotate(4deg);
    transform: rotate(4deg);
  }
  80% {
    -webkit-transform: rotate(-2deg);
    transform: rotate(-2deg);
  }
  90% {
    -webkit-transform: rotate(2deg);
    transform: rotate(2deg);
  }
}
@keyframes shake-bottom {
  0%,
  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
  }
  10% {
    -webkit-transform: rotate(2deg);
    transform: rotate(2deg);
  }
  20%,
  40%,
  60% {
    -webkit-transform: rotate(-4deg);
    transform: rotate(-4deg);
  }
  30%,
  50%,
  70% {
    -webkit-transform: rotate(4deg);
    transform: rotate(4deg);
  }
  80% {
    -webkit-transform: rotate(-2deg);
    transform: rotate(-2deg);
  }
  90% {
    -webkit-transform: rotate(2deg);
    transform: rotate(2deg);
  }
}
.boxchat__call,
.fa-angle-double-up {
  -webkit-animation: shake-bl 1s cubic-bezier(0.455, 0.03, 0.515, 0.955)
    infinite both;
  animation: shake-bl 1s cubic-bezier(0.455, 0.03, 0.515, 0.955) infinite both;
}
@-webkit-keyframes shake-bl {
  0%,
  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transform-origin: 0 100%;
    transform-origin: 0 100%;
  }
  10% {
    -webkit-transform: rotate(2deg);
    transform: rotate(2deg);
  }
  20%,
  40%,
  60% {
    -webkit-transform: rotate(-4deg);
    transform: rotate(-4deg);
  }
  30%,
  50%,
  70% {
    -webkit-transform: rotate(4deg);
    transform: rotate(4deg);
  }
  80% {
    -webkit-transform: rotate(-2deg);
    transform: rotate(-2deg);
  }
  90% {
    -webkit-transform: rotate(2deg);
    transform: rotate(2deg);
  }
}
.dat_lich_hen_submit {
  background: #0060a1;
  color: #fff;
  padding: 5px 9px;
}
.wobble-hor-bottom {
  -webkit-animation: wobble-hor-bottom 1s ease-in-out infinite both;
  animation: wobble-hor-bottom 1s ease-in-out infinite both;
}
@-webkit-keyframes wobble-hor-bottom {
  0%,
  100% {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
  }
  15% {
    -webkit-transform: translateX(-30px) rotate(-6deg);
    transform: translateX(-30px) rotate(-6deg);
  }
  30% {
    -webkit-transform: translateX(15px) rotate(6deg);
    transform: translateX(15px) rotate(6deg);
  }
  45% {
    -webkit-transform: translateX(-15px) rotate(-3.6deg);
    transform: translateX(-15px) rotate(-3.6deg);
  }
  60% {
    -webkit-transform: translateX(9px) rotate(2.4deg);
    transform: translateX(9px) rotate(2.4deg);
  }
  75% {
    -webkit-transform: translateX(-6px) rotate(-1.2deg);
    transform: translateX(-6px) rotate(-1.2deg);
  }
}
@keyframes wobble-hor-bottom {
  0%,
  100% {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
  }
  15% {
    -webkit-transform: translateX(-30px) rotate(-6deg);
    transform: translateX(-30px) rotate(-6deg);
  }
  30% {
    -webkit-transform: translateX(15px) rotate(6deg);
    transform: translateX(15px) rotate(6deg);
  }
  45% {
    -webkit-transform: translateX(-15px) rotate(-3.6deg);
    transform: translateX(-15px) rotate(-3.6deg);
  }
  60% {
    -webkit-transform: translateX(9px) rotate(2.4deg);
    transform: translateX(9px) rotate(2.4deg);
  }
  75% {
    -webkit-transform: translateX(-6px) rotate(-1.2deg);
    transform: translateX(-6px) rotate(-1.2deg);
  }
}

/* style utilities_col */
.utilities_col {
  background: #0c2f7d;
  color: white;
  border: 1px solid #0c2f7d;
  margin: 10px 0;
}
.utilities_col p {
  margin: 5px 0;
}

/* style pptt */
/* .video__happy-one{background: #0c2f7d;color: white;padding-bottom: 30px} */
.pttt__happy-one {
  padding-bottom: 30px;
}
/* begin k-style.css */

@media screen and (max-width: 1024px) {
  .icon.mb-block,
  .header .icon {
    display: none;
  }
  .container {
    max-width: 90%;
  }
  .col-divide-lg-12 {
    flex: auto;
    max-width: 100%;
  }
  .col-divide-lg-6 {
    flex: auto;
    max-width: 48%;
  }
  .col-divide-lg-4 {
    flex: auto;
    max-width: 32%;
  }
  .col-divide-lg-3 {
    flex: auto;
    max-width: 24%;
  }
}
@media screen and (max-width: 768px) {
  .col-divide-md-12 {
    flex: auto !important;
    max-width: 100% !important;
  }
  .col-divide-md-6 {
    flex: auto;
    max-width: 48%;
  }
  .col-divide-md-4 {
    flex: auto;
    max-width: 32%;
  }
  .col-divide-md-3 {
    flex: auto;
    max-width: 24%;
  }
  .title--section {
    font-size: 30px;
    margin: 22px 0;
  }
  .dp--none {
    display: none;
  }
  .dp--block {
    display: block;
  }
  .icon.mb-block,
  .header .icon {
    display: block !important;
  }
  .hpo__contact,
  .hotline-phone-ring-wrap {
    display: none;
  }
  .boxchat {
    display: block;
  }
}
@media screen and (max-width: 438px) {
  body {
    transition: background-color 0.5s;
    font-size: 18px;
  }
  .header .header__contain.header_menu_wrapper {
    max-width: 100%;
    background-color: #337ab7;
  }
  iframe {
    width: 100%;
  }
  .title--section {
    font-size: 22px !important;
    margin: 10px 0;
  }
  .col-divide-sm-12 {
    flex: auto !important;
    max-width: 100% !important;
  }
  .col-divide-sm-6 {
    flex: auto;
    max-width: 48%;
  }
  .col-divide-sm-4 {
    flex: auto;
    max-width: 32%;
  }
  .col-divide-sm-3 {
    flex: auto;
    max-width: 24%;
  }
  .dp--none {
    display: none;
  }
  .icon {
    width: 40px;
  }
  .icon--text {
    font-size: 25px;
  }
  .logo {
    max-width: 120px;
  }
  .icon.mb-block,
  .header .icon {
    display: block !important;
  }
  .hpo__contact .overview__btn {
    padding: 1rem 4rem;
    font-size: initial;
  }
}

.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.fa-phone {
  color: #fff;
}
.fa-phone:before {
  content: "\f098";
}
.header .header__contain .header__item ul > li > ul {
  display: none;
  list-style: none;
  position: absolute;
  z-index: 100;
  background: var(--primary-bg-color);
  width: max-content;
  top: 0;
  left: -6px;
  padding: 8px 0;
  padding-left: 10px;
}
.icon.mb-block,
.header .icon {
  display: none;
}
.header .header__contain .header__item ul > li > ul > li {
  padding: 8px;
  display: block;
}
.header .header__contain .header__item ul > li:hover ul {
  display: block;
}
.header .header__contain .header__item ul > li a,
.header .header__contain .header__item ul > li a i {
  text-transform: uppercase;
  font-size: 17px;
  font-weight: 400;
  transition: all 0.3s ease-in-out;
}
.header .header__contain .header__item ul > li.active a,
.header .header__contain .header__item ul > li > a:hover {
  color: red;
}
#btn--Menu {
  background-image: url(../images/menu-mobile.png);
  font-family: SanFranciscoDisplay;
  border: none;
  width: 24px;
  height: 24px;
  background-size: cover;
}
#menu {
  display: none;
}
.menu__mobile {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 5px 0;
}
button {
  outline-color: transparent;
  border: none;
}
.d--inline-block {
  display: inline-block;
}
.mar-0 {
  margin: 0;
}
.p-12 {
  padding: 12px;
}
.btn.focus,
.btn:focus,
.btn:hover {
  transform: scaleY(1);
}
.hpo__contact .overview__btn {
  padding: 1rem;
  color: #fff !important;
  border-radius: 3rem;
}
.hpo__contact .overview__btn:hover {
  padding: 1.2rem 3.2rem;
  color: #fff !important;
}
.overview__btn-destop {
  color: white;
}
.heartbeat {
  -webkit-animation: heartbeat 1.5s ease-in-out infinite both;
  animation: heartbeat 1.5s ease-in-out infinite both;
}
@-webkit-keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
    transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
    transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}
@keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
    transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
    transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}
.sidepanel {
  width: 0;
  position: fixed;
  z-index: 109999999;
  top: 207px;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  left: 0;
  background-color: #0060a1;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}
.sidepanel a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}
.sidepanel a:hover {
  color: #f1f1f1;
}
.sidepanel .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
}
.header {
  width: 100%;
  background: #0c2f7d;
  transition: all 0.5s ease-in-out;
}
.header .header__contain.header_menu_wrapper {
  width: 100%;
  background: white;
  position: fixed;
  top: 0;
  z-index: 999999999999;
}
.header .header_menu_wrapper .header__item a {
  color: var(--primary-bg-color);
}
.header .header__contain {
  display: flex;
  align-items: center;
}
.header .header__contain .header__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .header__contain .header__item .header__navbar {
  margin-left: 5rem;
  margin-bottom: 0;
  list-style: none;
  align-self: center;
}
.header .header__contain .header__item .header__navbar .header__navbar-item {
  padding: 5px 15px;
}
.header .header__contain .btn-call-main-menu {
  width: 39px;
  height: 39px;
}
.header .header__contain .btn-call-main-menu .btn-call-main-menu .btn {
  padding: 6px 12px;
  color: #fff;
  font-size: larger;
}
.header a {
  color: #fff;
  text-decoration: none;
  display: block;
}
.header a:hover {
  color: red;
  text-decoration: none;
}
.header .icon {
  padding: 1rem;
  margin-left: 2rem;
}
.overview_happyone {
  margin: 20px auto;
}
.overview__list {
  list-style: none;
}
/* .overview__list .overview__list--items{line-height:25px;text-align: left;} */
.overview__list .overview__list--items .img__hot {
  width: 50px;
  margin-right: 1rem;
}

.overview__regist {
  margin: 0 auto;
  width: max-content;
}
.header__register-btn {
  color: #fff;
  margin-left: 5em;
}
.header__register-btn:hover,
.overview__regist .btn:hover {
  transform: scale(1.1);
  background: #fff;
  color: #fff;
}
.footer__happy-one {
  background: #0c2f7d;
  color: #fff;
}
.footer__contain {
  padding: 2rem 0;
}
.logo__footer {
  max-width: 150px;
}
.title__footer {
  color: #fff !important;
  text-transform: uppercase;
}
.hpo__email a:hover,
.hpo__hotline a:hover {
  color: white;
}
.hpo__hotline a,
.hpo__email a {
  color: yellow;
}
.copy--right {
  background: #333;
  padding: 1rem 0 0;
  font-size: 15px;
}
.hpo__call-phone {
  position: fixed;
  bottom: 4rem;
  display: flex;
  left: 4rem;
  align-items: center;
  background: #0c2f7d;
  color: white;
  border-radius: 35px;
  text-decoration: none;
}
.hpo__call-phone:hover {
  background: red;
  color: #fff !important;
  text-decoration: none;
}
.hpo__call-phone img {
  width: 60px;
}
.hpo__call {
  margin-left: 5px;
  padding: 0 15px 0 0;
}

/* contact phone css by key */
.hotline-phone-ring-wrap {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 999999;
}
.hotline-phone-ring {
  position: relative;
  visibility: visible;
  background-color: transparent;
  width: 110px;
  height: 110px;
  cursor: pointer;
  z-index: 11;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateZ(0);
  transition: visibility 0.5s;
  left: 0;
  bottom: 0;
  display: block;
}
.hotline-phone-ring-circle {
  width: 85px;
  height: 85px;
  top: 10px;
  left: 10px;
  position: absolute;
  background-color: transparent;
  border-radius: 100%;
  border: 2px solid #e60808;
  -webkit-animation: phonering-alo-circle-anim 1.2s infinite ease-in-out;
  animation: phonering-alo-circle-anim 1.2s infinite ease-in-out;
  transition: all 0.5s;
  -webkit-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  opacity: 0.5;
}
.hotline-phone-ring-circle-fill {
  width: 55px;
  height: 55px;
  top: 25px;
  left: 25px;
  position: absolute;
  background-color: rgba(230, 8, 8, 0.7);
  border-radius: 100%;
  border: 2px solid transparent;
  -webkit-animation: phonering-alo-circle-fill-anim 2.3s infinite ease-in-out;
  animation: phonering-alo-circle-fill-anim 2.3s infinite ease-in-out;
  transition: all 0.5s;
  -webkit-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
}
.hotline-phone-ring-img-circle {
  background-color: #e60808;
  width: 33px;
  height: 33px;
  top: 37px;
  left: 37px;
  position: absolute;
  background-size: 20px;
  border-radius: 100%;
  border: 2px solid transparent;
  -webkit-animation: phonering-alo-circle-img-anim 1s infinite ease-in-out;
  animation: phonering-alo-circle-img-anim 1s infinite ease-in-out;
  -webkit-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hotline-phone-ring-img-circle .pps-btn-img {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.hotline-phone-ring-img-circle .pps-btn-img img {
  width: 50px;
  height: 50px;
}
.hotline-bar {
  position: absolute;
  background: rgba(230, 8, 8, 0.75);
  height: 40px;
  width: 180px;
  line-height: 40px;
  border-radius: 3px;
  padding: 0 10px;
  background-size: 100%;
  cursor: pointer;
  transition: all 0.8s;
  -webkit-transition: all 0.8s;
  z-index: 9;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.1);
  border-radius: 50px !important;
  /* width: 175px !important; */
  left: 33px;
  bottom: 37px;
}
.hotline-bar > a {
  color: #fff;
  text-decoration: none;
  font-size: 15px;
  font-weight: bold;
  text-indent: 50px;
  display: block;
  letter-spacing: 1px;
  line-height: 40px;
  font-family: Arial;
}
.hotline-bar > a:hover,
.hotline-bar > a:active {
  color: #fff;
}
@-webkit-keyframes phonering-alo-circle-anim {
  0% {
    -webkit-transform: rotate(0) scale(0.5) skew(1deg);
    -webkit-opacity: 0.1;
  }
  30% {
    -webkit-transform: rotate(0) scale(0.7) skew(1deg);
    -webkit-opacity: 0.5;
  }
  100% {
    -webkit-transform: rotate(0) scale(1) skew(1deg);
    -webkit-opacity: 0.1;
  }
}
@-webkit-keyframes phonering-alo-circle-fill-anim {
  0% {
    -webkit-transform: rotate(0) scale(0.7) skew(1deg);
    opacity: 0.6;
  }
  50% {
    -webkit-transform: rotate(0) scale(1) skew(1deg);
    opacity: 0.6;
  }
  100% {
    -webkit-transform: rotate(0) scale(0.7) skew(1deg);
    opacity: 0.6;
  }
}
@-webkit-keyframes phonering-alo-circle-img-anim {
  0% {
    -webkit-transform: rotate(0) scale(1) skew(1deg);
  }
  10% {
    -webkit-transform: rotate(-25deg) scale(1) skew(1deg);
  }
  20% {
    -webkit-transform: rotate(25deg) scale(1) skew(1deg);
  }
  30% {
    -webkit-transform: rotate(-25deg) scale(1) skew(1deg);
  }
  40% {
    -webkit-transform: rotate(25deg) scale(1) skew(1deg);
  }
  50% {
    -webkit-transform: rotate(0) scale(1) skew(1deg);
  }
  100% {
    -webkit-transform: rotate(0) scale(1) skew(1deg);
  }
}
.col-divide-1 {
  flex: 0 0 7%;
  max-width: 7%;
  width: 100%;
}
.col-divide-2 {
  flex: 0 0 14%;
  max-width: 14%;
  width: 100%;
}
.col-divide-3 {
  flex: 0 0 22%;
  max-width: 22%;
  width: 100%;
}
.col-divide-4 {
  flex: 0 0 33.33%;
  max-width: 34%;
  width: 100%;
}
.col-divide-5 {
  flex: 0 0 40%;
  max-width: 40%;
  width: 100%;
}
.col-divide-6 {
  flex: 0 0 50%;
  max-width: 49%;
  width: 100%;
}
.col-divide-7 {
  flex: 0 0 57%;
  max-width: 57%;
  width: 100%;
}
.col-divide-8 {
  flex: 0 0 65%;
  max-width: 65%;
  width: 100%;
}
.col-divide-9 {
  flex: 0 0 76%;
  max-width: 76%;
  width: 100%;
}
.col-divide-10 {
  flex: 0 0 81%;
  max-width: 81%;
  width: 100%;
}
.col-divide-11 {
  flex: 0 0 90%;
  max-width: 90%;
  width: 100%;
}
.col-divide-12 {
  flex: 0 0 100%;
  max-width: 100%;
  width: 100%;
}

blockquote {
  color: red;
  font-style: italic;
}
/* style vị trí */
/* .map-svg {
    position: absolute;
    top: 50%;
    left: 0;
    width: 55vw;
    height: 100%;
    overflow: hidden;
    transform: translateY(-50%);
}
.map-svg svg {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: calc(100% - 50px);
}
svg {
    overflow: hidden;
    vertical-align: middle;
} */
